<li class="menu__list__item user__item__js"><i class="material-icons icons__header_menu">person</i>
    <p class="menu__list__title">{{username}}</p>
</li>
<li class="menu__list__item user__item__js" data-status='favorites'><i class="material-icons icons__header_menu favorites">favorite_border</i>
    <p class="menu__list__title">Избранное</p>
</li>
<li class="menu__list__item user__item__js" data-status='watched'><i class="material-icons icons__header_menu watch__later">check_circle_outline</i>
    <p class="menu__list__title">Просмотрено</p>
</li>
<li class="menu__list__item user__item__js" data-status='watchedLater'><i class="material-icons icons__header_menu watched">bookmark_border</i>
    <p class="menu__list__title">Опосля</p>
</li>
<li class="menu__list__item user__logout"><i class="material-icons icons__header_menu sensor_door">sensor_door</i><p
        class="user__logout">Выйти</p></li>