<div class="wrapper">
  <div class="menu">
    <ul class="menu__list">
      <li class="menu__list__item"><a href="#">Home</a></li>
      <li class="menu__list__item"><a href="#">Portfolio</a></li>
      <li class="menu__list__item"><a href="#">About</a></li>
    </ul>
  </div>
</div>