    Find by:
    <span class="search_films_name active__search">name</span>
    <span> / </span> <span class="search_films_genres">genre</span>
    <span> / </span> <span class="search_films_actors">actor</span>