    Поиск по:
    <span class="search_films_name active__search">названию</span>
    <span> / </span> <span class="search_films_genres">жанру</span>
    <span> / </span> <span class="search_films_actors">актеру</span>