<div class="movie__interests__tab">
    <button class="movie__interests__tablinks "data-status="favorites"><i class="material-icons icons__header_menu favorites" data-status="favorites">favorite_border</i>Favorites</button>
    <button class="movie__interests__tablinks" data-status="watched"><i class="material-icons icons__header_menu watch__later" data-status="watched">check_circle_outline</i>Watched</button>
    <button class="movie__interests__tablinks" data-status="watchedLater"><i class="material-icons icons__header_menu watched" data-status="watchedLater">bookmark_border</i>Later</button>
</div>