<div class="movie__interests__tab">
    <button class="movie__interests__tablinks " id="defaultOpen" data-tabname="actors">Избранное</button>
    <button class="movie__interests__tablinks" data-tabname="reviews">Посмотреть позже</button>
    <button class="movie__interests__tablinks" data-tabname="trailers">Просмотрено</button>
</div>