 <div class="login-html is-hidden ">
        <input
          id="tab-1"
          type="radio"
          name="tab"
          class="sign-in"
        /><label for="tab-1" class="tab sign__in">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
          for="tab-2"
          class="tab up"

          >Sign Up</label
        >
        <div class="login-form">
          <div class="sign-in-htm">
            <form class="form__sing__in group">
              <label class="label"
                >Email Address
                <input
                  type="email"
                  class="input email__sign__in"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
              </label>
              <label class="label"
                >Password
                <input
                  type="password"
                  class="input password__sign__in"
                  placeholder=" 4 characters minimum"
                  data-type="password"
                  minlength="4"
                  maxlength="16"
                  required
                />
              </label>
              <button type="submit" class="button submit__login">Sign In</button>
            </form>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="#forgot">Forgot Password?</a>
            </div>
          </div>
          <div class="sign-up-htm">
            <form class="form__sign__up group">
              <label class="label"
                >Username
                <input type="text" class="input username__sign__up" />
              </label>
              <label class="label"
                >Password
                <input
                  type="password"
                  class="input password__sign__up"
                  placeholder=" 4 characters minimum"
                  data-type="password"
                  minlength="4"
                  maxlength="16"
                  required
                />
              </label>
              <label class="label"
                >Email Address
                <input
                  type="email"
                  class="input email__sign__up"
                  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                  required
                />
              </label>
              <button type="submit" class="button submit__reg">Sign Up</button>
            </form>
          </div>
        </div>
      </div>