<div class='modal__container'>
  <h3 class="modal__title_loader">
        {{#if languageRu}}
          ЗАГРУЖАЕМ....
        {{else}}
          LOADING....
        {{/if}}
    
  </h3>

  <div class="modal__preloader">
    <div class="modal__loader">
      <div class="modal__face">
        <div class="modal__circle"></div>
      </div>
      <div class="modal__face">
        <div class="modal__circle"></div>
      </div>
    </div>
  </div>
</div>