<div class="team__container">
    <h1>Angry Beavers</h1>
    <img src="{{baevers}}" alt='Angry Beavers'  width="100px" height="100px" />

    <div>
        <img src="{{dagget}}" alt='dagget'  width="50px" height="50px" />
        <h2>Team lead</h2>
        <p>Ruslan aka Bulka Z Djemom</p>
    </div>

    <div>
        <img src="{{norb}}" alt='norb'  width="50px" height="50px" />
        <h2>Scrum Master</h2>
        <p>Dima aka DimRom76</p>
    </div>

    <div>
        <img src="{{treeflower}}" alt='treeflower'  width="50px" height="50px" />
        <h2>Leading developer</h2>
        <p>Nika aka Nikule4ka</p>
    </div>
</div>