{{#unless this}}
<p class="list__reviews no-reviews">Нет актеров</p>
{{/unless}}


<div class="card__actors">
    <ul class="list__actors">
        {{#each this}}
        <li class="list__actor-card">
            <img src="{{profile_path}}" width="100px" alt="{{name}}">
            <h3 class="list__actor-name">{{name}}</h3>
            <p class="list__actor-moviename">{{character}}</p>
        </li>
        {{/each}}
    </ul>
</div>