{{#unless this}}
    <p>Нет отзывов</p>
{{/unless}}


<div class="card__reviews">
    <p class="name-movie">{{nameOfmovie}}</p>
    <ul class="list__reviews">
        {{#each this}}
        <li class="list__reviewCard">
            <h4 class="list__nameOfUser">{{author}}</h4>
            <p class="list__review">{{list__review}}</p>
            <p class="list__dateOfReview">{{created_at}}</p>
        </li>
        {{/each}}
    </ul>
</div>
