{{#each this}}
<div class="card__reviews">
    <p class="name-movie">{{nameOfmovie}}</p>
    <ul class="list__reviews">
        <li class="list__reviewCard">
            <p class="list__nameOfUser"></p>
            <h4 class="list__review"></h4>
            <p class="list__dateOfReview"></p>
        </li>
    </ul>
</div>
{{each}}