{{#unless this}}
<p>Нет отзывов</p>
{{/unless}}


<div class="card__reviews">
    {{!-- <h4 class="list__nameOfUser">Stanislav</h4>
    <p class="list__dateOfReview">29 марта 2018 </p>
    <p class="list__review">Фильм отличный! Крутейшие экшен сцены, городские пейзажи
        впечатлающие. Атмосфера идеально передана.. Просто супер!</p> --}}
    <ul class="list__reviews">
        {{#each this}}
        <li class="list__review-card">
            <h4 class="list__name-user">{{author}}</h4>
            <p class="list__date-review">{{created_at}} </p>
            <p class="list__review">{{content}}</p>
        </li>
        {{/each}}
    </ul>
</div>