{{#unless this}}
    <p>Нет трейлеров</p>
{{/unless}}

{{#each this}}
    <div>
    <iframe 
        src="https://www.youtube.com/embed/{{key}}"
        frameborder="0"
        allowfullscreen>
    </iframe>
    <h4 >{{name}}</h4>
    </div>
{{/each}}


