.favorites,
.watch__later,
.watched {
  cursor: pointer;

  &.icon_active {
    color: $secondaryColor;
  }
}

.list_movies {
  width: 100%;
  flex-wrap: wrap;
  display: grid;
  margin: 0 auto 15px;
  margin-top: 50px;

  @media screen and (max-width: 540px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 25px;
  }

  @media screen and (min-width: 541px) and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 0;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  text-align: start;
  border: none;
  border-radius: 13px;

  .card-img-top {
    height: 100%;
    width: 100%;
    display: block;
    // height: 440.63px;

    border-radius: 13px 13px 0 0;
  }
}

.card__movie_markup {
  position: relative;
  // min-width: 273px;
  // max-width: 454px;
  height: auto;
}

.card-text {
  position: absolute;
  content: '';
  bottom: 4px;
  right: -6px;
  background: $secondaryColor;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 60px;
  height: 30px;
  letter-spacing: 0.03em;
  // margin-bottom: 15px;
}

.card-release-general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 15px;
  height: 100%;
  overflow: hidden;
  background-color: $ListMovieColor;
  border-radius: 0px 0px 13px 13px;
}

.text-release-vote {
  font-size: 18px;
  position: absolute;
  content: '';
  bottom: 3px;
  right: 6px;
  z-index: 2;
}

.text-release-vote::after {
  height: 30px;
  width: 76px;
  content: '';
  position: absolute;
  bottom: -5px;
  right: -15px;
  transform: skewX(-45deg);
  z-index: -1;
  background-color: rgba(97, 82, 168, 0.2);
}

.material-icons {
  color: #6152a8;

  font-size: 30px;
}

.card-main-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Noto Sans TC, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.19;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    font-size: 25px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 20px;
  }
}

.card-group-markup {
  margin-top: 0;
  margin-bottom: 0;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.icon-raiting.icon-raiting-markup {
  color: #fff;
}

.btn-group {
  display: flex;
  align-items: center;
}
