.movie__markup__card {
  display: flex;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;

  .movie__markup__img {
    align-self: flex-start;
  }

  .movie__content {
    margin-left: 15px;
  }
}
