.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.login-wrap {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 670px;
  position: relative;
  box-shadow: 0 0 2px #6152a8;
}
.login-html {
  width: 296px;
  height: 420px;
  padding: 50px 46px;
  background: rgba(26, 20, 59, 0.9);
  border-radius: 5%;
  box-shadow: 0 3px 2px rgba(252, 251, 251, 0.5),
    0 1px 17px rgba(97, 82, 168, 0.8);

  @media (min-width: 768px) {
    width: 350px;
    padding: 50px 70px;
  }
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 16px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}

.login-html .tab.up {
  margin: 0 0px 10px 0;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: $secondaryColor;
  box-shadow: 0 2px 0 #6152a8, inset 0 0 0 #6152a8;
}
.tab {
  color: #fff;
  cursor: pointer;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #fff;
  display: block;
}

.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}

.login-form .group .label {
  color: #aaa;
  font-size: 12px;
  margin-bottom: 10px;
}

.login-form .group .button {
  margin-top: 10px;
  background: #6152a8;
  cursor: pointer;
}

.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

.login-form .group .check:checked + label {
  color: #fff;
}

.login-form .group .check:checked + label .icon {
  background: $secondaryColor;
}

.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}

.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.hr {
  height: 2px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
  text-decoration: underline;
  text-align: center;
  font-size: 12px;

  &:hover {
    color: $secondaryColor;
  }
}

.svg {
  width: 100px;
  height: 100px;
}

.login {
  color: $secondaryColor;
}
