/* .is-hidden {
  display: none;
} */

.header {
  background-color: $headerFooterColor;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  & .navigation__list {
    display: flex;
    margin-right: 20px;
    align-items: center;

    & .navigation__list__item {
      margin-right: 20px;
      margin-left: 60px;

      &:hover,
      &:focus {
        color: $secondaryColor;
      }
    }
  }

  &::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 140px;
    top: 0;
    left: 0;
    background-color: #f8104d;
    transform: skewX(20deg);
    margin-left: -20px;
  }
}

.navigation-left-side {
  display: flex;
}

.navigation-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation__movie__list.is-hidden {
  display: none;
}

.search__films {
  width: 400px;

  & .search__films__title {
    margin: 0;

    & .search_films_name,
    .search_films_genres {
      cursor: pointer;
    }

    & .active__search {
      color: #f8104d;
    }
  }

  & .name,
  .genres {
    width: 300px;
    height: 25px;
    background-color: #281f55;
    color: #f7f5ff;
    // border: none;
    font-family: Noto Sans TC, sans-serif;
    letter-spacing: 0.03em;
    font-size: 300;

    &:active,
    &:focus {
      outline: none;
    }
  }

  & .header-search {
    width: 70%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    overflow: visible;
    outline: none;

    &::placeholder {
      color: #fff;
      font-size: 12px;
    }
  }

  & .search-btn {
    // display: inline-flex;
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }
}

.languages {
  cursor: pointer;
  margin-left: 300px;
  color: #f8104d;
  /* margin-left: auto; */
  & .hidden {
    display: none;
  }
}

.user__login {
  margin: 0;
}

/*  */
