.team__container {
  background-color: $headerFooterColor;
  box-shadow: 0 1px 5px rgb(252 251 251 / 50%), 0 1px 17px rgb(97 82 168 / 80%);
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 10px;
  text-align: center;
  width: 300px;
  height: 400px;

  @media (min-width: 768px) {
    padding: 5px 15px;
    width: 684px;
    height: 451px;
  }

  @media (min-width: 1024px) {
    padding: 15px 15px;
    width: 700px;
    height: 509px;
  }

  & .team__title {
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
  }
}

.team__main_container {
  display: flex;
  justify-content: space-between;

  height: auto;

  padding-top: 10px;

  & img {
    width: 50px;
    height: 50px;

    @media screen and (min-width: 768px) {
      width: 100px;
      height: 100px;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;

  & .github {
    background: url(../images/github.svg) no-repeat 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;

    &:hover {
      background: url(../images/github-hover.svg) no-repeat 0 0;
      width: 20px;
      height: 20px;
      display: inline-block;
    }
  }

  & > a {
    text-decoration: underline;
  }
}

.team__card {
  width: -webkit-fill-available;
  height: inherit;
  margin: 0px 5px 0px 5px;
  padding: 7px 8px 5px 8px;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  @media screen and (min-width: 768px) {
    padding: 10px;
  }

  &:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    top: -4px;
    left: -4px;
  }

  &.reverse {
    flex-direction: row-reverse;
  }

  & .team__card__title {
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 12px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  & .team__card_text {
    font-size: 11px;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 14px;
    }
  }
}
