// .preloader.modal {
//   width: 20vw;

//   .loader {
//     width: 20em;
//     height: 20em;
//     right: 0px;
//   }
// }

.preloader {
  position: relative;

  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;

  width: 200vw;
  height: 200vh;
  z-index: 99999;
  animation: 5s opacity;

  .loader {
    position: absolute;
    right: 136px;
    bottom: 300px;
    width: 15em;
    height: 15em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 5s opacity;

    @media (min-width: 768px) {
      width: 20em;
      height: 20em;
      right: 274px;
      bottom: 277px;
    }

    @media (min-width: 1024px) {
      width: 30em;
      height: 30em;
      right: 424px;
    }

    .face {
      position: absolute;
      border-radius: 50%;
      border-style: solid;
      animation: animate 3s linear infinite;
    }
  }
}

.loader {
  .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: $secondaryColorCircle;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
  }

  .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: $primaryColorCircle;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
  }
}

.face {
  .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      content: '';
      width: 1em;
      height: 1em;
      background-color: currentColor;
      border-radius: 50%;
      box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em,
        0 0 0 0.5em $secondaryColorCircle;
    }
  }
}

@keyframes animate {
  to {
    transform: rotate(1turn);
  }
}
